-r api/django-ovp/requirements/requirements-dev.txt
django-git-submodules
django-debug-toolbar
dj-database-url
elasticsearch
django-email-log
django-inlinecss
rollbar
Markdown
celery
amqp
django-oauth-toolkit
conda
flex
swagger_spec_validator
pytest
pytest-django
pytest-pythonpath
sentry-sdk
-e git://github.com/leonardoarroyo/django-gcloud-storage.git@b9c4b225d95b5c380df11d10d94e5cd076f4f4d6#egg=django_gcloud_storage
psycopg2-binary
elastic-apm
